 * {
  font-family: 'Georgia', 'Times', serif;
}

a {
  color: RED;
  font-size:30px;
  font-weight:bold;
  text-decoration: none;
}

img {
  border-radius: 100%;
}   
body {
    font-family: sans-serif;
     background:url("http://wfiles.brothersoft.com/b/b_s/badminton-physio-motion_97209-480x360.jpg");
     background-size:cover;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
h{
    color:MidnightBlue;
    font-size:60px;
}
p1{
    color:white;
    background-color:DarkMagenta;
     text-align: center;
    font-size:25px;
}

p2{
 font-size:18px;
 color:black;
}
p3{
    font-size:14px;
    color:grey;
}

li{
    width:100%;
    border:2px solid #DDD;
    border-radius:20px;
    padding:10px;
    margin:auto;
}